<!--HOme posts-->
<section class="home-post py-5 my-5 body-content">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-3 mb-3 ">
        <div class="list-group ">
          <a href="/blogs" style="text-decoration: none; "
            class="list-group-item list-group-item-action  link-offset-1-hover">

            Tümü
          </a>
          <% category.forEach(element=> { %>
            <a href="/blogs/category/<%= element.idcategories %>" style="text-decoration: none; "
              class="list-group-item list-group-item-action link-offset-1-hover <% if (isSelectedId==element.idcategories) { %>
               active
              <% } %> ">

              <%= element.name %>
            </a>

            <% }) %>
        </div>
      </div>
      <div class="col row">

     
      <% blogs.forEach(element=> { %>
        <div class="col-md-12 col-lg-6 col-xl-4  position-relative">
          <div class="card shadow-sm mb-3">
           
            <div class=""style="height:200px">

              <img src="<%= element.image %>" alt="post Image" class="card-img-top  object-fit-cover h-100 ">
            </div>
            <div class="card-body">
              <h3 class="fs-5 card-title">
                <%=element.title %>
              </h3>
              <% if (element.isAccepted) { %>
                <span class="badge badge-primary bg-danger position-absolute top-0 end-0 z-2">New</span>
                <% } %>
                  <p class="small fw-light card-description">
                    <%=element.description %>
                  </p>
                  <a href="/blogs/<%= element.blogid %>" class="btn btn-sm btn-warning rounded-pill shadow-sm px-3">Read
                    more..</a>
            </div>
          </div>
        </div>
        <% }) %>

 </div>
    </div>

  </div>
</section>
<!--HOme posts-->